# Google Analytics
# Get your GA4 Measurement ID from Google Analytics dashboard
# Format: G-XXXXXXXXXX
NEXT_PUBLIC_GA_ID=G-Q8TT3XQES6

# Your website URL
NEXT_PUBLIC_SITE_URL=https://tmdt-9evc.vercel.app/
